:root {
    --primary-color: #c0d6df;
    --secondary-color: #166088;
    --tertiary-color: #dbe9ee;
    --accent-color: #4f6d7a;
    --accent-color2: #4a6fa5; 
    --gray: #596475;
    --black: #1F2232;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    font-size: 20px;
    background-color: var(--tertiary-color);
}

section {
    padding: 50px;
}

header {
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

header h1 {
    color: var(--tertiary-color);
    font-size: 50px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    color: var(--tertiary-color);
    list-style: none;
    margin: 25px 10px;
}

/* header nav ul li a :hover {
    background: var(--primary-color);
} */

.websites {
    display: flex;
}
.websites img{
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw;
    max-height: 20vw;
    /* justify-content:space-around; */
}
.websites h3 {
    font-size: 15px;
    padding: 15px;
    display: flex;
    background-color: rgba(79, 109, 122, .7);
    color: var(--primary-color);
    border-radius: 5px;
}

.first-screenshot img {
    max-width: 25vw;
    max-height: 25vw;
    display: flex;
    border-radius: 5px;
    /* position: relative; */
    justify-content: start;
}

.screenshots img {
    max-width: 25vw;
    max-height: 10vw;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.screenshot-label {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin: 10px;
}

.screenshot-label h3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.avatar-img img {
    width: 35vw;
    box-shadow:  12px 12px 2px 1px rgba(192, 214, 223, .7);
    border-radius: 5px;
}
