/*universal selectors and variables*/
:root {
    --primary-color: #c0d6df;
    --secondary-color: #166088;
    --tertiary-color: #dbe9ee;
    --accent-color: rgb(79, 109, 122);
    --accent-color2: #4a6fa5; 
    --gray: #596475;
    --black: #1F2232;
    --label-background: (74, 111, 165, .82)
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    color: var(--secondary-color);
}

p {
    margin-top: 50px;
    line-height: 3vw;
    font-size: 1.1vw;
}

section {
    padding: 50px;
}

/*header styling*/
header {
    padding: 0px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    color: var(--primary-color);
    font-size: 5vw;
    padding: 20px;
    letter-spacing: 20px;
    font-variant:small-caps;
    align-items: center;
}

header nav ul {
    display: flex;
    /* list-style: none; */
    margin: 25px 10px;
}

.header-link {
    border-right: solid 2px var(--primary-color);
}

header nav ul li a {
    padding: 5px 25px;
    color: var(--primary-color);
    font-size: 20px;
    font-variant: small-caps;
    text-decoration: none;
}
  
.link-styling a:hover {
    color: var(--accent-color);
    background: var(--tertiary-color);
    border-radius: 5px;
}

/*end of header styling*/

h2 {
    font-size: 30px;
}

/* about me styling*/
.about-me {
    /* background-color: var(--tertiary-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}

.about-container {
    width: 50%;
}

.about-container h2 {
    display: inline;
    padding-bottom: 10px;
}

.about-container p {
    margin-top: 50px;
    line-height: 3vw;
    font-size: 20px;
}

.avatar-container img {
    width: 35vw;
    box-shadow:  12px 12px 2px 1px rgba(89, 100, 117, .7);
    border-radius: 5px;
}

.tag {
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    color:var(--accent-color);
    background-color: rgba(79, 109, 122, .2);
    padding: 15px 5px;
    border-radius: 5px;
    font-weight: bold;
}

/*portfolio section styling*/

.portfolio {
    background-color: var(--primary-color);
    min-height: fit-content;
}

.portfolio h2 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 25px;
    /* max-width:900px; */
}

/* project images styling*/
.content-overlay {
    display: flex;
    text-decoration: none;
    /* align-items: flex-end; */
    /* min-height: fit-content; */
    padding: 15px;
    background-blend-mode: soft-light;
    border-radius: 5px;
    border: solid 3px var(--accent-color);
    padding: 10px;
    background-color: var(--accent-color);
}

.content-overlay:hover {
    background-color: rgba(0, 0, 0, 0);
}

.content-overlay div {
    background-color: none;
    padding: 15px;
    display: flex;
    min-height: fit-content;

}

.first-app {
    background-image: url(../images/app-1.png);
    background-size: cover;
    width: 650px;
    height: 300px;
}

.horiseon {
    background-image: url(../images/app-2.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.doulas {
    background-image: url(../images/app-3.png);
    background-size: cover;
    width: 300px;
    height: 300px;
    margin: 10px;
}

/* project label styling */
.container h3 {
    padding: 15px 10px;
    background-color:var(--accent-color2);
    color: var(--tertiary-color);
    border-radius: 5px;
    border-style: groove;
    min-block-size: fit-content;
}

.link-container {
    min-width: 300px ;
}
/* contact me section styling */
.contact {
    background-color: var(--accent-color);
}

.contact h2 {
    padding-bottom: 10px;
    color: var(--tertiary-color);
}

.contact-link {
    padding-top: 25px;
}

.contact-link a:link {
    text-decoration: none;
    line-height: 3vw;
    font-size: 20px;
    color: var(--primary-color);
}

.title-border {
    border-bottom: solid 2px var(--tertiary-color);
    margin: 0;
    padding: 15px 15px;
    display: inline-block;
}

.title-border2 {
    border-bottom: solid 2px var(--accent-color);
    margin: 0;
    padding: 15px 15px;
    display: inline-block;
}

/*media queries for responsive design*/

@media screen and (max-width:980px) {
    header {
        flex-wrap: wrap;
        padding: 0;
      }
    
      header h1 {
          font-size: 36px;
      }

    .about-container p {
        margin-top: 25px;
        font-size: 2vh;
        line-height: 3vh;
      }

      p {
        width: 100%;
      }
    
    
    .portfolio {
        flex: 0 70%
    }

    .contact {
        flex: 0 70%;
    }

  }


  @media screen and (max-width:768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        flex: 0 0 auto;
    }

    header h1 {
        font-size: 20px;
    }


    header nav ul {
        padding: 2px;
        margin: 10px;
    }

    
    .about-me {
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
    }

    .avatar-container {
        display: flex;
        flex-direction: column;
       align-items: center;
       margin-bottom: 25px;
    }

    .tag {
        margin-top: 50px;
    }
    
    .about-me h2 {
        display: block;
        text-align: center;
    }
    
    .about-container p {
      width: 100%;
      text-align: center;
    }

      p {
        width: 100%;
      }
    

    .container {
        flex-direction: column;
        align-items: center;
        flex: 0 0 auto;
        margin: 25px 0;
    }

    .first-app {
        width: 300px;
        height: 300px;
    }

    .contact {
        flex: 0 0 auto;
    }

    }

    @media screen and (max-width:575px) {
        header {
            flex-wrap: wrap;
            justify-content: center;
            position: static;
        }

        header nav ul li a {
            font-size: 12px;
        }
    
        .about-me {
            flex-direction: column;
            align-items: center;
            flex: 0 0 50%;
        }
    
        .avatar-container img {
            width: 100%;
        }
        .about-me h2 {
            display: block;
            text-align: center;
        }
    
        .about-container {
            width: 100%;
        }
        
        .about-container p {
          width: 100%;
          text-align: center;
        }
    
        .tag {
            font-size: 14px;
            flex: 100%;
            margin-top: 50px;
        }
    
          p {
            width: 100%;
          }
        
    
          .portfolio {
            margin: 0;
          }

        .container {
            display: flex;
            max-width: 300px;
            align-items: center;
            padding: 25px 0;
            margin: 0;
    
        }
    
        .first-app, .horiseon, .doulas {
            max-width: 200px;
            background-size: fill;
        }

        .link-container h3 {
            max-width: 50%;
            word-wrap: break-word;
        }

        .contact {
            flex: 0 0 auto;
            text-align: center;
        }
    }